# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vs/
.vscode/

# Build results
*.log
*.tmp
*.swp

# OS junk
.DS_Store
Thumbs.db

# Rider / Visual Studio
.idea/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
